* {
  box-sizing: border-box;
  font-family: $site-font;
}

.light-grey {
  background-color: $light-grey;
}

.content {
  max-width: 1400px;
  margin: 15px auto 0 auto;
}

/* Column container */
.row {
  display: flex;
}

.panel {
  @include box-shadow;
  @include border-radius;
  overflow: hidden;
  margin: 0 15px 15px 0;
  background-color: $white;
  color: $grey;
}

.container {
  padding: 20px;
}

@media (max-width: 600px) {
  .row {
    flex-wrap: wrap;
  }

  .column {
    margin: 0 0 15px;
  }
}
