* {
  box-sizing: border-box;
  color: $black;
  font-family: $site-font;
}

.light-grey {
  background-color: $light-grey;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

/* Column container */
.row {
  display: flex;
}

.column {
  background-color: $white;
  margin: 0 15px 15px 0;
  padding: 15px;
}

@media (max-width: 600px) {
  .row {
    flex-wrap: wrap;
  }

  .column {
    margin: 0 0 15px;
  }
}