/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 33%;
}

.side .display-container {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.side .display-container img {
    margin-top: -15px;
}

.side .img-responsive {
    width: 100%;
}

@media (max-width: 600px) {
    .side {
        flex: 100%;
    }
}
