/* roboto-300italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto-v20-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../fonts/roboto-v20-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-300italic.woff2") format("woff2"), url("../fonts/roboto-v20-latin-300italic.woff") format("woff"), url("../fonts/roboto-v20-latin-300italic.ttf") format("truetype"), url("../fonts/roboto-v20-latin-300italic.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin-regular.woff") format("woff"), url("../fonts/roboto-v20-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin-500.woff") format("woff"), url("../fonts/roboto-v20-latin-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */ }

/* roboto-700 - latin */
@font-face {
  font-family: "../fonts/";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/../fonts/-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("../fonts/ Bold"), local("../fonts/-Bold"), url("../fonts/../fonts/-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/../fonts/-v20-latin-700.woff2") format("woff2"), url("../fonts/../fonts/-v20-latin-700.woff") format("woff"), url("../fonts/../fonts/-v20-latin-700.ttf") format("truetype"), url("../fonts/../fonts/-v20-latin-700.svg#../fonts/") format("svg");
  /* Legacy iOS */ }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0; }

* {
  box-sizing: border-box;
  color: #222222;
  font-family: "Roboto", sans-serif; }

.light-grey {
  background-color: #f1f1f1; }

.content {
  max-width: 1200px;
  margin: 0 auto; }

/* Column container */
.row {
  display: flex; }

.panel {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 15px 15px 0; }

.container {
  padding: 20px; }

@media (max-width: 600px) {
  .row {
    flex-wrap: wrap; }
  .column {
    margin: 0 0 15px; } }

/* Main column */
.main {
  flex: 60%; }

@media (max-width: 600px) {
  .main {
    flex: 100%; } }

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 40%; }

.side .img-responsive {
  max-width: 100%;
  height: auto;
  display: block; }

@media (max-width: 600px) {
  .side {
    flex: 100%; } }
